<nav class="site-nav">
  <ul class="u-list-reset">
    <li>
      <a href="{{ site.baseurl }}/gd-220/" class="button--animated button--bordered button--bordered--block">
        <span class="button__borders"></span>
        <span class="button__text-wrapper">
          <span class="button__text button__text--initial">GD 220</span>
          <span class="u-text-left button__text button__text--revealed">Graphic Design 2</span>
        </span>
      </a>
    </li>
    <li>
      <a href="{{ site.baseurl }}/gd-431/" class="button--animated button--bordered button--bordered--block">
        <span class="button__borders"></span>
        <span class="button__text-wrapper">
          <span class="button__text button__text--initial">GD 431</span>
          <span class="u-text-left button__text button__text--revealed button__text--tighter"><span>Front End</span> Web Dev</span>
        </span>
      </a>
    </li>
  </ul>
</nav>
