<nav class="wrapper site-nav">
  <ul class="list-reset">
    <li><a href="{{ site.baseurl }}/">About</a></li>
    <li class="submenu-parent{% if page.course == 'gd-431' %} is-active{% endif %}">
      <a href="{{ site.baseurl }}/gd-431">GD 431</a>
      <ul class="list-reset submenu">
        <li><a href="#syllabus">Syllabus</a></li>
        <li><a href='#assignments'>Assignments</a></li>
        <li><a href="#schedule">Schedule</a></li>
      </ul>
    </li>
    <li><a href="{{ site.baseurl }}/resources">Resources</a></li>
  </ul>
</nav>
