{% assign num_words = page.content | strip_html | number_of_words %}
{% assign minutes_f = num_words | divided_by: 200.0 %}
{% comment %} minutes in decimal {% endcomment %}

{% assign minutes_i = num_words | divided_by: 200 %}
{% comment %} minutes in integer {% endcomment %}

{% assign diff = minutes_f | minus: minutes_i %}
{% comment %} fractional part of minutes {% endcomment %}

{% if diff >= 0.5 %}
{% assign minutes = minutes_i + 1 %}
{% else %}
{% assign minutes = minutes_i %}
{% endif %}

{% if minutes <= 1 %}
{% assign reading_time = '1' %}
{% else %}
{% assign reading_time = minutes %}
{% endif %}

<p class="text-faded reading-est">{{ reading_time | append: ' min read' }}</p>
