.accordion-title {
  display: flex;
  justify-content: space-between;
  transition: background-color 100ms ease-in;

  &:first-of-type {
    border-top: 1px solid white;
  }

  button {
    all: inherit;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    margin: 0;
    width: 100%;

    svg {
      border: 3px solid transparent;
      box-shadow: 0 0 0 1px $color-grey;
      color: $color-grey;
      border-radius: 50%;
      height: 1.25em;
      margin-right: 1em;
      transition: all 300ms ease-in;
    }

    &:hover {
      color: $color-marine;

      svg {
        background-color: $color-marine;
        box-shadow: 0 0 0 1px $color-marine;
        color: white;
      }
    }

    &[aria-expanded="true"] {
      background-color: white;
      border-bottom-color: transparent;

      .vert {
        animation: fadeOut 200ms 1 forwards;
      }
    }

    &[aria-expanded] rect {
      fill: currentColor;
    }

  }

  button,
  &.has-no-content {
    border-bottom: 1px solid white;
    padding: 1em 0.5em;
  }

  >p {
    margin: 0;
  }
}

.accordion-content {
  background-color: white;
  padding: 0.5em 0.5em 1em;
  transition: all 300ms ease-in;
}
