html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  background: $color-offwhite;
  color: $color-text-body;
  font-family: $font-sans;
  margin: 0;
}

ul, ol {
  margin-top: 0;
  margin-bottom: 0;
}

a {
  color: rgba($color-text-link, 0.8);
  &:hover, &:active {
    color: $color-text-link;
  }
  &:visited {
    color: $color-text-link-visited;
  }
}

img {
  height: auto;
  max-width: 100%;
}
