html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: $color-grey;
  color: $color-text-body;
  @include font-body;
  margin: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  main & {
    list-style-type: none;
    padding-left: 0;

    >li {
      margin-left: 2rem;
      position: relative;

      &::before {
        content: '\2014';
        margin-left: -1.7rem;
        position: absolute;
      }

      li {
        margin-left: 1.5rem;

        &::before {
          content: '\2013';
          margin-left: -1.25rem;
        }
      }
    }
  }
}

code {
  @include font-mono;
}

img {
  height: auto;
  max-width: 100%;
}

hr {
  border: 0;
  border-bottom: 1px dashed $color-mint;
  margin-top: $leading;
  margin-bottom: $leading * 2;
}
