.breadcrumb-wrapper {
  margin-right: $spacing-xl;

  &::before {
    content: '\005C\005C ';
    display: inline-block;
    font-size: 0.65rem;
    vertical-align: middle;
  }
}

.breadcrumb {
  @include font-mono;
  font-size: 0.75rem;
  text-transform: lowercase;
  vertical-align: middle;

  >a {
    border-bottom: 2px solid transparent;
    color: $color-text-link;
    text-decoration: none;

    &:hover,
    &:focus {
      border-bottom-color: $color-mint;
    }
  }

  +.breadcrumb {
    &::before {
      content: '>';
      display: inline-block;
      font-size: 0.65rem;
      margin-right: 0.35rem;
      margin-left: 0.25rem;
    }
  }

  &.week+.breadcrumb {
    &::before {
      content: unset;
    }
  }
}
