.embed-wrapper {
  margin: $spacing-lg;
  position: relative;

  >iframe {
    display: block;
    margin: auto;
    max-width: 720px;
  }

  &::before,
  &::after {
    background-color: $color-yellow;
    content: '';
    height: 4px;
    margin: auto;
    position: absolute;
    right: 0;
    left: 0;
    width: 10%;
    z-index: 1;
  }

  &::before {
    top: (-$spacing-md);
  }

  &::after {
    bottom: (-$spacing-md);
  }
}

.cp_embed_wrapper,
.glitch-embed-wrap,
.loom-embed-wrapper {
  margin: $spacing-lg 0;
}

.cp-sbs-wrapper {
  @media (min-width: 720px) {
    display: flex;
    margin: $spacing-lg 0;

    >div {
      border-bottom: 1px solid #ccc;
      height: 500px;
      overflow: hidden;
      width: 50%;

      +div {
        margin-left: -1px;
      }
    }

    .cp_embed_wrapper {
      margin: 0;
    }

    iframe {
      min-height: 580px;
    }
  }
}
