.homepage-wrapper {
  @media (min-width: 780px) {
    display: grid;
    grid-template-areas: "main nav""footer footer";
    grid-template-columns: 1fr 260px;
    margin-top: 64px;
    padding-right: 40px;
    padding-left: 40px;

    .site-nav {
      grid-area: nav;

      ul {
        align-items: center;
        flex-direction: column;

        li+li {
          margin-top: 48px;
        }
      }
    }

    main {
      grid-area: main;
    }

    .site-footer {
      grid-area: footer;
    }
  }

  @media (min-width:920px) {
    .site-nav ul {
      margin-top: 32px;
    }
  }

  @media (min-width: 1024px) {
    grid-template-columns: 1fr 360px;
  }
}

.homepage-grid {
  >p:first-of-type {
    @include font-grotesk('Semibold');
    font-size: 120%;
  }

  figure {
    margin: 24px auto;
    max-width: 400px;
  }

  figcaption {
    background-color: rgba($color-yellow, 0.35);
    @include font-mono;
    font-size: 14px;
    padding: 6px 4px;

    a {
      // just underline
      background-image: linear-gradient(transparent calc(100% - 2px), $color-mint 2px);
      background-position: left calc(100% + 2px);
      background-repeat: no-repeat;
      background-size: 0% calc(100% + 2px);

      &:hover,
      &:focus {
        background-size: 100% 100%;

      }
    }
  }

  @media (min-width:920px) {
    display: grid;
    grid-gap: 24px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 4;

    .heading--underline,
    >p:first-of-type {
      grid-column: span 2;
    }

    .heading--underline {
      grid-row: 1;
      margin-bottom: 0;
    }

    >p:first-of-type {
      font-size: 1.33rem;
      grid-row: 2;
      width: 90%;
    }

    p:nth-of-type(2) {
      grid-row: 3;
      margin-top: 0;
    }

    figure {
      grid-column: 1 / span 2;
      grid-row: 4;
      margin: 0;
      width: 65%;
      max-width: 400px;
    }

    figcaption {
      width: 85%;
    }

    div {
      grid-column: 2;
      grid-row: 3 / span 2;
    }

    .spacer {
      clear: left;
      float: left;
    }
  }

  @media (min-width:1060px) {
    >p:first-of-type {
      width: 85%;
    }
  }

  @media (min-width:1120px) {
    >p:first-of-type {
      width: 75%;
    }
  }
}
