.jump-link {
  position: absolute;
  top: calc(10px + 1rem); // to match breadcrumb
  right: $spacing-md;

  a {
    font-size: 0.75rem;
  }

  @media (min-width: 480px) {
    right: $spacing-lg;
  }

  @media (min-width: 640px) {
    right: $spacing-xl;
  }

  @media (min-width: 920px) {
    display: none;
  }
}
