.nav-top-link {
  font-size: 0.75em;
  margin-top: $leading;
  text-align: right;

  a {
    color: $color-grey;

    &:hover,
    &:focus {
      color: $color-text-link !important;
    }

    &:visited {
      color: $color-grey;
    }
  }
}
