.quiz-wrapper {
  border: 2px solid $color-slate;
  margin-top: $spacing-lg;
  margin-bottom: $spacing-xl;
  position: relative;
  max-width: 720px;

  @media (min-width: 620px) {
    margin-right: $spacing-lg;
    margin-left: $spacing-lg;

    &::after {
      border-right: 8px solid rgba($color-yellow, 0.35);
      border-bottom: 8px solid rgba($color-yellow, 0.35);
      content: '';
      position: absolute;
      pointer-events: none;
      right: -11px;
      bottom: -11px;
      height: 100%;
      width: 100%;
    }
  }
}

.quiz-header {
  background-color: $color-slate;
  padding: $spacing-sm $spacing-xs;

  @media (max-width: 419px) {
    padding-bottom: $spacing-lg;
  }

  @media (min-width: 420px) {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }
}

.quiz-heading {
  @include font-grotesk();
  color: $color-grey;
  letter-spacing: 1px;
  margin: 0;
  position: relative;
  text-align: center;

  &::before {
    content: '💡';
    font-size: 150%;
    margin-right: $spacing-xs;
    vertical-align: middle;
  }
}

.quiz-actions-wrapper {
  @media (max-width: 419px) {
    position: absolute;
    top: $spacing-lg;
    right: 4px;
  }
}

.quiz-action {
  text-decoration: none;

  svg {
    fill: $color-grey;
    transition: all 300ms;
    width: 28px;
  }

  &[aria-expanded=true] {
    svg {
      .icon-line {
        &:last-of-type {
          opacity: 0;
        }
      }
    }
  }

  +.quiz-action {
    margin-left: $spacing-xs;
  }

  &:hover,
  &:focus {
    svg {
      fill: $color-mint;
    }
  }
}

.quiz-hint {
  background-image: linear-gradient(to top, transparent, white 35%);
  padding: $spacing-sm $spacing-lg $spacing-xl;
  pointer-events: none;
  position: relative;
  z-index: 1;

  &::after {
    background-color: $color-yellow;
    content: '';
    height: 4px;
    margin: auto;
    position: absolute;
    right: 0;
    bottom: $spacing-lg;
    left: 0;
    width: 10%;
  }
}

.quiz-content {

  .quiz-hint+& {
    top: (-$spacing-xl);
    margin-bottom: (-$spacing-xl);
    position: relative;
  }

  iframe {
    width: 100%;
  }
}
