.schedule-list {
  counter-reset: weeks;
  margin-top: 1.5rem;
  max-width: 540px;

  >li {
    +li {
      margin-top: $spacing-sm;
    }
  }

  .accordion-title {
    background-color: $color-slate;

    button,
    &.has-no-content {
      &::before {
        color: $color-mint;
        content: counters(weeks, ".", decimal-leading-zero) " ""|";
        counter-increment: weeks;
        @include font-mono;
        font-size: 1.2rem;
      }
    }

    button {
      color: white;
      @include font-grotesk('Bold');
      font-size: 1.25rem;
      line-height: 1.3;
      padding: $spacing-xs 36px $spacing-xs $spacing-md;
      position: relative;
      width: 100%;

      svg {
        border: 2px solid white;
        border-radius: 50%;
        height: 24px;
        margin: auto;
        padding: 4px;
        position: absolute;
        top: 0;
        right: 8px;
        bottom: 0;
        width: 24px;

        rect {
          fill: currentColor;
        }
      }

      &[aria-expanded="true"] {
        .vert {
          animation: fadeOut 200ms 1 forwards;
        }
      }
    }

    &.has-no-content {
      background-color: $color-offwhite;
      @include font-grotesk('Medium');
      padding: $spacing-xs $spacing-md $spacing-xs;
      position: relative;
    }
  }

  h3 {
    background-image: linear-gradient(transparent calc(100% - 2px), $color-yellow 2px);
    background-position: 16px 100%;
    background-repeat: no-repeat;
    background-size: calc(100% - 32px) 100%;
    color: $color-offblack;
    display: inline-block;
    @include font-mono;
    font-size: 0.9rem;
    margin-bottom: $spacing-xs;

    &:first-of-type {
      margin-top: 0;
    }

    &:not(:first-of-type) {
      margin-top: $spacing-md;
    }

    &::before {
      content: '[';
      padding-right: $spacing-sm;
    }

    &::after {
      content: ']';
      padding-left: $spacing-sm;
    }
  }

  .accordion-content {
    @extend .u-clearfix;
    margin-top: 18px;
    margin-bottom: 32px;

    @media (min-width: 620px) {
      .aside-wrapper {
        float: right;
      }
    }
  }

}
