.schedule-list {
  counter-reset: weeks;
  margin-bottom: 1.5rem;
  max-width: 540px;

  >li {
    padding-left: 0;

    +li {
      margin-top: $spacing-sm;
    }
  }

  h4 {
    @extend %schedule_heading;
  }
}

.current-header {
  align-items: center;
  display: flex;
  justify-content: space-between;

  svg {
    fill: $color-grey;
    transition: all 300ms;
    width: 28px;
  }

  >a {
    margin-left: $spacing-md;

    &:hover,
    &:focus {
      svg {
        fill: $color-slate;
      }
    }
  }
}

.schedule-topic {
  &::before {
    content: counters(weeks, ".", decimal-leading-zero) " ""//";
    counter-increment: weeks;
  }
}
