.site-footer {
  margin-top: $spacing-xl;

  .rule {
    // highlight, then dash
    background-image: linear-gradient($color-yellow, transparent 2px), linear-gradient(to right, $color-text-body 50%, transparent 50%);
    background-position: left 100%, left top;
    background-repeat: no-repeat, repeat-x;
    background-size: 120% 100%, 20px 3px;
    height: 3px;
    width: 90%;

    @media (min-width: 520px) {
      width: 75%;
    }

    @media (min-width: 780px) {
      width: 65%;
    }

    @media (min-width: 860px) {
      width: 55%;
      max-width: 400px;
    }
  }

  .content {
    display: flex;
    justify-content: space-between;
  }

  p {
    @include font-mono;
    font-size: 12px;
    padding: 32px 0 24px;
  }

  .top-link-wrapper {
    padding: $spacing-sm;
    text-transform: lowercase;

    &::before,
    &::after {
      color: $color-grey;
    }


    &::before {
      content: '[ ';
    }

    &::after {
      content: ' ]';
    }

    &:hover {

      &::before,
      &::after {
        color: $color-mint;
      }
    }

    a {
      border-bottom: 1px dotted $color-grey;
      color: $color-slate;
      text-decoration: none;

      &:hover,
      &:focus {
        border-bottom-color: $color-mint;
        border-bottom-style: solid;
      }
    }
  }
}
