html {
  font-size: $base-font-size;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
li {
  line-height: $leading;
  margin: 0;
}

p,
li {
  main & {
    max-width: 72ch;
    margin-bottom: $leading / 2;
  }

  +p,
  &+ul,
  &+ol,
  ul+&,
  ol+& {
    margin-top: $leading / 2;
  }
}

h1,
h2 {
  @include font-grotesk('Bold');
  line-height: $leading / 1.5;
  margin-top: $leading / 2;
  margin-bottom: $leading / 2;

  p+&,
  ol+&,
  ul+& {
    margin-top: $leading;
  }
}

h1 {
  font-size: 1.75rem;
}

h2 {
  font-size: 1.15rem;
}

h3,
dt {
  @include font-grotesk('Semibold');
  font-size: 1rem;
  line-height: $leading / 1.5;
  margin-top: $leading / 1.5;
  margin-bottom: $leading / 2.5;
  opacity: 0.8;
  text-transform: uppercase;
}

.heading {
  font-size: 1.4 * $leading;

  &--underline {
    background-image: linear-gradient(transparent calc(100% - 2px), $color-yellow 2px);
    background-position: left 100%;
    background-repeat: no-repeat;
    background-size: 90% 100%;
    @include font-mono;
    font-size: 1.15rem;
    margin-bottom: 1em;
    padding-bottom: 2px;

    @media (min-width: 375px) {
      background-size: 75% 100%;
    }
  }
}

.text {
  &-center {
    text-align: center;
  }

  &-italic {
    font-style: italic !important;
  }

  &-smaller {
    font-size: 65%;
  }

  &-larger {
    font-size: 180%;
  }

  &-faded {
    opacity: 0.7;
  }
}

.citation {
  @extend .text-faded;

  font-size: 0.9em;
  margin-top: $spacing-xl;

  a {
    color: currentColor;

    &:hover,
    &:focus {
      color: black;
    }
  }
}

.cli {
  @include font-mono;
  background-color: #eaedf0;
  margin: $spacing-lg;
  padding: $spacing-sm;
  max-width: 560px;

  p {
    margin: 0;
  }

  +.cli {
    margin-top: (-$spacing-lg);
    padding-top: 0;
  }
}

.reading-est {
  @include font-mono;
  font-size: 0.75em;
  margin-top: 0;

  &::before {
    content: '[ ';
    padding-right: 2px;
  }

  &::after {
    content: ' ]';
    padding-left: 2px;
  }
}

.emoji {
  font-family: system-ui;
  vertical-align: middle;
}

a {
  main &:not(.u-link-reset) {
    // highlight, then underline
    $border-color: $color-slate;
    background-image: linear-gradient($color-yellow 0, $color-yellow 0), linear-gradient(transparent calc(100% - 2px), $border-color 2px);
    background-position: left 60%, left calc(100% + 2px);
    background-repeat: no-repeat, no-repeat;
    background-size: 100% 0%, 0% calc(100% + 2px);
    border-bottom: 2px double $border-color;
    padding-right: 3px;
    text-decoration: none;
    transition: all 300ms ease-in-out;
    width: calc(100%);

    &:link {
      color: $color-text-link;
    }

    &:visited {
      color: mix($color-text-link-visited, white, 80%);
    }

    &:hover,
    &:focus {
      background-size: 100% 65%, 100% 100%;
      color: $color-text-link;
    }
  }
}

ol {
  padding-left: 1em;

  >li {
    margin-bottom: 0.5em;
    padding-left: 0.5em;
  }
}

dl {
  margin-bottom: 3rem;

  dd {
    // margin-top: 0.25em;
    // margin-bottom: 1em;
    margin-left: 0;
  }
}
