$font-serif: 'Cormorant Garamond', Serif;
$font-sans: 'Fira Sans', Sans-Serif; 

$color-offblack: #1b203a;
$color-offwhite: whitesmoke;
$color-grey: #889094;
$color-indigo: #243149;
$color-marine: #508ea1;
$color-eggplant: #404463;

$color-text-body: $color-offblack;
$color-text-link: $color-marine;
$color-text-link-visited: $color-eggplant;
