// https://coolors.co/a2f1c1-fcfcfc-0a0908-f6f930-22333b

$color-offblack: #1b203a;
$color-offwhite: whitesmoke;
$color-grey: #889094;
$color-greyli: rgba($color-grey, 0.2);
$color-marine: #508ea1;
$color-eggplant: #404463;
$color-indigo: #243149;
$color-text-body: $color-offblack;
$color-text-link: $color-marine;
$color-text-link-visited: $color-eggplant;

// alt?
// https://coolors.co/a2f1c1-2c4251-d16666-b6c649-ffffff
// https://coolors.co/a2f1c1-2c4251-38023b-a288e3-cefdff
// https://coolors.co/a2f1c1-2c4251-e1f2fe-a288e3-b2b1cf
