// PALETTE
// https://coolors.co/a2f1c1-fcfcfc-0a0908-f6f930-22333b

$color-offblack: #0A0908;
$color-offwhite: #FCFCFC;
$color-grey: #ccc;

$color-yellow: #F6F930;
$color-mint: #A2F1C1;
$color-slate: #22333B;


$color-text-body: $color-slate;
$color-text-link: $color-offblack;
$color-text-link-visited: $color-text-body;

// FONTS
@mixin font-grotesk($weight:'Regular') {
  font-family: NeueAlteGrotesk-#{$weight},
  "Lucida Grande",
  "Lucida Sans Unicode",
  "Lucida Sans",
  Tahoma,
  sans-serif;
  font-weight: normal;
  font-style: normal;
}

@mixin font-body() {
  @include font-grotesk();
}

@mixin font-mono() {
  font-family: Native-Regular, "Andale Mono", AndaleMono, monospace;
  font-weight: normal;
  font-style: normal;
}

// TYPOGRAPHIC SCALE
// this uses MAJOR THIRD type scale, or exponents of 1.25
$base-font-size: 1em;
$scale: 1.25;
$line-height: $scale;
$leading: $scale * $base-font-size * $line-height;


// SPACING
$spacing-xs: 8px;
$spacing-sm: 12px;
$spacing-md: 16px;
$spacing-lg: 40px;
$spacing-xl: 64px;
