<!DOCTYPE html>
<html lang='en'>

{% include head.html %}

<body>
  <div class="site-wrapper">

    {{content}}

  </div>

  {% if page.type == "homepage" %}
  <script src="{{ site.baseurl }}/js/textWrap.js" async defer></script>
  {% endif %}
  {% if page.toggle %}
  <script src="{{ site.baseurl }}/js/contentToggle.js" async defer></script>
  {% endif %}
  {% if page.type == "course" %}
  <script src="{{ site.baseurl }}/js/genericToggle.js" async defer></script>
  {% endif %}
  {% if page.type == "learn-index" %}
  <script src="{{ site.baseurl }}/js/filterByLevel.js" async defer></script>
  {% endif %}

</body>
{% include credits.html %}

</html>
