---
layout: base
---

{% include header.html %}

<div class="content-wrapper {% if page.type %}{{ page.type }}-wrapper{% endif %}">

  {% if page.type == "homepage" %}

  {% include nav.html %}

  {% else %}

  <div class="top-nav">
    {% include breadcrumb.html %}
    {% if page.course or page.category %}
    {% unless page.type == "course" %}
    {% include reading-time.html %}
    {% endunless %}
    {% endif %}
  </div>

  {% endif %}

  <main>
    {{ content }}
    {% if page.issues %}
    {% include issues.html %}
    {% endif %}
  </main>

  {% include footer.html %}

</div>
