    .course-wrapper {
      @media (min-width: 920px) {
        main {
          display: grid;
          grid-column-gap: 40px;
          grid-template-areas: "main sidebar";
          grid-template-columns: 1fr 280px;
        }

        aside {
          grid-column: sidebar;
          grid-row: 1 / span 2;
          margin-top: $leading / 2; // to match the h1
        }
      }

      @media (min-width: 1080px) {
        grid-template-columns: 1fr 320px;
      }
    }
