.course-wrapper {
  @media (min-width: 920px) {
    .overview {
      display: grid;
      grid-column-gap: 40px;
      grid-template-areas:
        "header header"
        "main sidebar";
      grid-template-columns: 1fr 280px;

      h1 {
        grid-area: header;
      }

      &__sidebar {
        display: flex;
        flex-wrap: wrap;

        h2 {
          margin-top: 0;
        }

        .button-wrapper {
          align-self: flex-end;
          flex: 1 0 auto;
          margin-bottom: 0;
        }
      }
    }
  }

  @media (min-width: 1080px) {
    // grid-template-columns: 1fr 320px;
  }
}
